/*
!.gitignore
!.vimrc
!.vimrc.bundles
!.vimrc.local
!.gemrc
!.aliases
!/.vim/
/.vim/bundle/
!/.vim/colors/
!.vim/colors/atom-dark.vim
!/.tmuxinator

!.zshrc
!.tmux.conf

.vim/colors/.DS_Store

.vim/.netrwhist

.vim/.DS_Store
